:root {
  --bgcol: #3757a9;
  --light-border: #e0eae4;
  --dark-blue-green: #1b404e;
  --btn-bg: rgb(96, 105, 128);
}

* {
  box-sizing: border-box;
}

header {
    width: 100%;
    height: 175px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-size: 14px;
    line-height: 1.5;
    background-color: #3757a9;
    align-items: center;
    flex-wrap: nowrap;
    text-align: center;
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.9),rgba(2, 39, 39, 0.9));
}

.page-title {
  position: relative;
  top: -2rem;
  left: -2rem;
  text-align: left;
  background-color: #d4d5d8;
  padding: 0rem 1rem 0rem 2rem;
}

main {
  width: 50%;
  margin: auto;
}

button:focus {
  outline: none;
}

#question {
  padding: 10px;
}

#answers {
    width: 450px;
    height: 100px;
    padding: 10px 0px 50px 10px;
    border: 1px solid black;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.8) 0 0 10px;
    border-collapse: collapse;
    display: none;
}

#highscores {
  padding: 10px;
  display: none;
}

#scoreboard {
    width: 150px;
    height: 100px;
    padding: 10px 10px 50px 10px;
    border: 1px solid black;
    font-size: 14px;
    overflow: scroll;
}
   
#instructions {
  width: 450px;
  height: 160px;
  padding: 10px 10px 50px 10px;
  border: 1px solid black;
  font-size: 14px;
  border-radius: 10px;
  box-shadow: rgba(0,0,0,0.8) 0 0 10px;
  border-collapse: collapse;
}

#clearhighbutton,
#gobackbutton {
  display: none;
}

#endbutton,
#clearhighbutton,
#gobackbutton,
#viewhighbutton {
  padding: 5px;
  margin: 10px;
}

#startbutton {
  padding: 5px;
  margin: 0px 0px 0px 150px;
}

#endbutton:hover,
#startbutton:hover,
#clearhighbutton:hover,
#gobackbutton:hover,
#viewhighbutton:hover {
  color: white;
  background-color: rgb(96, 105, 128);
  padding: 5px;
}

#num {
  font-size: 16px;
  font-weight: bolder;
}

#timeclock {
  color: red;
}

#feedback {
  font-style: italic;
  position: relative;
  left: 200px;
  padding: 10px;
}

#initials,
#highscores {
  display: none;
}

footer p {
  margin-left: 100;
}

h1 {
  font-size: 3rem;
}
  
h2 {
  font-size: 2.5rem;
}
  
h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}
 
h5 {
  font-size: 1rem;
}

footer {
  display: flex;
  justify-content:space-around;
  text-decoration: none;
}


/* Mobile-first: use `max-width` values going from narrow -> wide */
@media screen and (max-width: 480px) {
  .header {
    display: block;
  }

  .header h1 a {
    float: none;
    /* display: block; */
    text-align: left;
  }
  
  .header div {
    flex-direction: column;
    float: none;
  }

  #timerdisp h2 {
    font-size: 1.5rem;
    display: inline-flex;
  }

  #timerdisp h4 {
    font-size: 1rem;
    display: inline-flex;
  }
}

@media screen and (max-width: 600px) {
  #instructions {
    width: 300px;
    height: 230px;
    margin: 0px 0px 0px -50px;
  }

  #answers {
    width: 300px;
    height: 100px;
    margin: 0px 0px 0px -50px;
  }

  #startbutton {
    margin: 0px 0px 0px 50px;
  }
  
}

/* Mobile-first: use `max-width` values for medium size window */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }
}

/* media query for larger screens */
@media screen and (min-width: 992px) {
  header div {
    flex-direction: column;
  }
}
